body {
  background-color: antiquewhite;
}

h1 {
  text-align: center;
  color: #0D0D0D;
}

img{
  position: fixed;
  top: -0px;
  left: 0px;
  width: 100%;
}

div {
  color:#0D0D0D;
  border: 2px solid #0D0D0D;
  border-radius: 15px;
  padding: 1%;
  font-family: "Funnel Display", sans-serif;
  font-optical-sizing: auto;
  padding-left: 1%;
  position: relative;
  top: -15px;
  left: 69px;
  width: 85%;
}

a {
  display: inline;
  padding: 10px 20px;
  margin: 10px;
  color: #0D0D0D;
  background-color: #D9BABA;
  transition: background-color 0.3s ease;
  border-radius: 5px;
  position: relative;
  top: -0px;
  left: 490px;
  text-decoration: none;
}

a:hover {
  background-color: #D9C1B4;
}


  @media only screen and (max-width: 600px) {
  .imagine {
    width: 100% !important;
    height: auto !important;
    display: block;
    margin: 0 auto;
  }

  .descriere {
    padding: 10px !important;
    font-size: 1em;
    text-align: left !important;
  }

  h1 {
    font-size: 1.5em !important;
    margin-left: 10px !important;
    text-align: left !important;
  }

  a {
    display: block;
    width: 80%;
    margin: 10px auto;
    text-align: center;
  }
}
    h1 {
      font-size: 1.5em !important;
    }
  }

